<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  <div class="app-header">
      <div class="app-title">
        {{title}}
      </div>
      <div *ngIf="isUserAuthorized()" class="app-user-name">
        {{currentUser.name}}
      </div>
      <span class="app-button app-logout-button" (click)="logout()"> Logout </span>
  </div>



    <div *ngIf="isUserAuthorized()">
        <app-user [user]="currentUser"></app-user>
    </div>
    <div *ngIf="!isUserAuthorized()">
        <label for="username">Username:</label>
        <input id="username" [value]="auth_user" (input)="auth_user = $event.target.value" type="text"/>
        <label for="username">Password:</label>
        <input id="password" [value]="auth_pass" (input)="auth_pass = $event.target.value" type="password"/>
        <button id="login" (click)="authenticate()">Login</button>
    </div>

</div>

